<?php
/**
 *
 * add imageHover functionality (22,23 67-80)
 * add block to be able control swiper slider (43-57)
 * replace product representation from unordered list to block
 */

use Magento\Framework\App\Action\Action;

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) : ?>
    <?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

    $_imageHelper = $this->helper("Magento\Catalog\Helper\Image");
    $_imageHover = "hover_product_list";

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
    ?>
    <div class="block widget block-products-list <?= /* @noEscape */
    $mode ?>">
        <?php if ($block->getTitle()) : ?>
            <div class="block-title">
                <strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
            </div>
        <?php endif ?>
        <div class="block-content">
            <?= /* @noEscape */
            '<!-- ' . $image . '-->' ?>
            <div id="<?= $block->getData('slider_id'); ?>" class="products-<?= /* @noEscape */
            $mode ?> <?= /* @noEscape */
            $mode ?> swiper-container">
                <?php if ($block->getData('should_display_buttons') === "true") : ?>
                    <div class="swiper-buttons">
                        <div class="swiper-buttons-container">
                            <div class="swiper-button-prev">
                                <p>Prev</p>
                            </div>
                            <div class="swiper-button-next">
                                <p>Next</p>
                            </div>
                        </div>
                    </div>
                <?php endif ?>
                <div class="product-items <?= /* @noEscape */
                $type ?> swiper-wrapper">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item) : ?>
                        <?= /* @noEscape */
                        ($iterator++ == 1) ? '<div class="product-item swiper-slide">' : '</div><div class="product-item swiper-slide">' ?>
                        <div class="product-item-info">
                            <div href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                               class="product-item-photo">
                                <?= $block->getImage($_item, $image)->toHtml() ?>
                            </div>
                            <?php
                            $productImageHover = $_imageHelper->init($_item, $_imageHover);
                            ?>
                            <?php if (strpos($productImageHover->getUrl(), "Magento_Catalog/images/product/placeholder/hover.jpg") == false): ?>
                                <div href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                     class="product-item-photo-hovered">
                                    <?= $block->getImage($_item, $_imageHover)->toHtml() ?>
                                </div>
                            <?php else : ?>
                                <div href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                     class="product-item-photo">
                                    <?= $block->getImage($_item, $image)->toHtml() ?>
                                </div>
                            <?php endif; ?>

                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                       href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                       class="product-item-link">
                                        <?= $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </strong>
                                <?php if ($templateType) : ?>
                                    <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                <?php endif; ?>

                                <?= $block->getProductPriceHtml($_item, $type) ?>

                                <?= $block->getProductDetailsHtml($_item) ?>

                                <?php if ($showWishlist || $showCompare || $showCart) : ?>
                                    <div class="product-item-inner">
                                        <div class="product-item-actions">
                                            <?php if ($showCart) : ?>
                                                <div class="actions-primary">
                                                    <?php if ($_item->isSaleable()) : ?>
                                                        <?php $postParams = $block->getAddToCartPostParams($_item); ?>
                                                        <form data-role="tocart-form"
                                                              data-product-sku="<?= $block->escapeHtml($_item->getSku()) ?>"
                                                              action="<?= $block->escapeUrl($postParams['action']) ?>"
                                                              method="post">
                                                            <input type="hidden" name="product"
                                                                   value="<?= $block->escapeHtmlAttr($postParams['data']['product']) ?>">
                                                            <input type="hidden" name="<?= /* @noEscape */
                                                            Action::PARAM_NAME_URL_ENCODED ?>"
                                                                   value="<?= /* @noEscape */
                                                                   $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                                            <?= $block->getBlockHtml('formkey') ?>
                                                            <button type="submit"
                                                                    title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                                    class="action tocart btn-add-to-cart">
                                                                <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                            </button>
                                                        </form>
                                                    <?php else : ?>
                                                        <?php if ($_item->getIsSalable()) : ?>
                                                            <div class="stock available">
                                                                <span><?= $block->escapeHtml(__('In stock')) ?></span>
                                                            </div>
                                                        <?php else : ?>
                                                            <div class="stock unavailable">
                                                                <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
                                                            </div>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            </div>

                            <?php if ($showWishlist || $showCompare) : ?>
                                <div class="actions-secondary" data-role="add-to-links">
                                    <a href="#" class="action eye">
                                    </a>
                                    <?php if ($this->helper(\Magento\Wishlist\Helper\Data::class)->isAllow() && $showWishlist) : ?>
                                        <a href="#"
                                           data-post='<?= /* @noEscape */
                                           $block->getAddToWishlistParams($_item) ?>'
                                           class="action towishlist" data-action="add-to-wishlist"
                                           title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                            <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
                                        </a>
                                    <?php endif; ?>
                                    <?php if ($block->getAddToCompareUrl() && $showCompare) : ?>
                                        <?php $compareHelper = $this->helper(\Magento\Catalog\Helper\Product\Compare::class); ?>
                                        <a href="#" class="action tocompare"
                                           data-post='<?= /* @noEscape */
                                           $compareHelper->getPostDataParams($_item) ?>'
                                           title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                            <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                        </a>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>
                        </div>
                        <?= ($iterator == count($items) + 1) ? '</div>' : '' ?>
                    <?php endforeach ?>
                </div>
            </div>
            <?= $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif; ?>
