<!-- MAIN BANER-->
<div id="banerSlider" class="banner swiper-container">
    <div class="banner_container swiper-wrapper">
        <div class="banner_item swiper-slide"><img
                src="https://blueskytechmage.com/drexel/pub/media/slidebanner/h/o/home3.jpg" alt="Home page slider1">
        </div>
        <div class="banner_item swiper-slide"><img
                src="https://blueskytechmage.com/drexel/pub/media/slidebanner/s/l/slider-home3-2_1.jpg"
                alt="Home page slider2"></div>
    </div>
    <div class="swiper-pagination swiper-pagination-white shop_pagination">&nbsp;</div>
</div>

<!--MAIN PRODUCTS-->

<div class="categories">
    <div class="category_item">
        <a href="https://blueskytechmage.com/drexel/en2/#">
            <img src="https://blueskytechmage.com/drexel/pub/media/wysiwyg/banner-home3-1.jpg" alt="">
        </a>

    </div>
    <div class="category_item">
        <a href="https://blueskytechmage.com/drexel/en2/#">
            <img src="https://blueskytechmage.com/drexel/pub/media/wysiwyg/banner-home3-2.jpg" alt="">
        </a>
    </div>
</div>

<!--OUR PRODUCTS-->

<div class="our_products">
    <div class="products_title">
        <h2>Our Products</h2>
        <div class="description_title">Most Trendy Furniture</div>
    </div>
    <div class="our_products_container">
        <p>{{widget
            type = "Magento\CatalogWidget\Block\Product\ProductsList"
            slider_id = "ourproductsSlider"
            should_display_buttons = "true"
            show_pager = "0"
            products_count = "10"
            template = "Magento_CatalogWidget::product/widget/content/grid.phtml"
            conditions_encoded = "^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`any`,`value`:`1`,`new_child`:``^],`1--1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`sku`,`operator`:`==`,`value`:`hollister-backyard-sweatshirt`^],`1--2`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`sku`,`operator`:`==`,`value`:`abominable-hoodie`^],`1--3`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`sku`,`operator`:`==`,`value`:`beaumont-summit-kit`^],`1--4`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`sku`,`operator`:`==`,`value`:`white-clock`^],`1--5`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`sku`,`operator`:`==`,`value`:`proteus-fitness-jackshirt`^],`1--6`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`sku`,`operator`:`==`,`value`:`helios-evercool-tee`^],`1--7`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`sku`,`operator`:`==`,`value`:`pogan-heattec-tee`^],`1--8`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`sku`,`operator`:`==`,`value`:`arcu-vitae-imperdiet`^]^]"}}</p>
    </div>
</div>

<!--SALE-->

<div class="sale">
    <div class="sale_item">
        <a href="#">
            <img src="https://blueskytechmage.com/drexel/pub/media/wysiwyg/banner-home3-3.jpg" alt="">
        </a>
    </div>
</div>

<!--CATEGORIES PRODUCTS-->

<div class="category_products">
    <div class="category_products_item_container">
        <div class="category_products_title">
            <h2>Bestsellers</h2>
        </div>
        <hr>
        <div class="bestsellers_items_container">{{widget
            type = "Magento\CatalogWidget\Block\Product\ProductsList"
            slider_id = "categoriesproductsSlider"
            show_pager = "0"
            products_count = "10"
            template = "Magento_CatalogWidget::product/widget/content/grid.phtml"
            conditions_encoded = "^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^],`1--1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`category_ids`,`operator`:`==`,`value`:`3`^]^]"}}
        </div>
    </div>
    <div class="category_products_item_container">
        <div class="category_products_title">
            <h2>Featured</h2>
        </div>
        <hr>
        <div class="featured_items_container">{{widget
            type = "Magento\CatalogWidget\Block\Product\ProductsList"
            slider_id = "categoriesproductsSlider"
            show_pager = "0"
            products_count = "10"
            template = "Magento_CatalogWidget::product/widget/content/grid.phtml"
            conditions_encoded = "^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^],`1--1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`category_ids`,`operator`:`==`,`value`:`3`^]^]"}}
        </div>
    </div>
    <div class="category_products_item_container">
        <div class="category_products_title">
            <h2>Most Viewed</h2>
        </div>
        <hr>
        <div class="viewed_items_container">{{widget
            type = "Magento\CatalogWidget\Block\Product\ProductsList"
            slider_id = "categoriesproductsSlider"
            show_pager = "0"
            products_count = "10"
            template = "Magento_CatalogWidget::product/widget/content/grid.phtml"
            conditions_encoded = "^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^],`1--1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`category_ids`,`operator`:`==`,`value`:`3`^]^]"}}
        </div>
    </div>
</div>

<!--NEWS & BLOG-->

<div id="newsblogSlider" class="news swiper-container">
    <div class="products_title">
        <h2>News &amp; Blog</h2>
        <div class="description_title">Most Trendy Furniture</div>
    </div>
    <div class="swiper-buttons">
        <div class="swiper-buttons-container">
            <div class="swiper-button-prev">
                <p>Prev</p>
            </div>
            <div class="swiper-button-next">
                <p>Next</p>
            </div>
        </div>
    </div>
    <div class="news_container swiper-wrapper">
        <div class="news_item swiper-slide"><span class="news_product_photo"> <img
                    src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/blog/images/0/9/09_4.jpg"
                    alt=""> </span>
            <div class="news_product_description_container">
                <h3><a href="https://blueskytechmage.com/drexel/en2/blog/post/blog6/">Aptent taciti soci litora
                        cianpen</a></h3>
                <div class="data_container"><span class="data">16-May-2017</span></div>
                <div class="description">
                    <p>Donec faucibus enim vitae volutpat sollicitudin. Mauris gravida nulla turpis, sit amet feugiat
                        magna la</p>
                </div>
            </div>
        </div>
        <div class="news_item swiper-slide"><span class="news_product_photo"> <img
                    src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/blog/images/0/4/04_4.jpg"
                    alt=""> </span>
            <div class="news_product_description_container">
                <h3><a href="https://blueskytechmage.com/drexel/en2/blog/post/blog8/">Mauris gravida nulla turpis</a>
                </h3>
                <div class="data_container"><span class="data">16-May-2017</span></div>
                <div class="description">
                    <p>Donec faucibus enim vitae volutpat sollicitudin. Mauris gravida nulla turpis, sit amet feugiat
                        magna la</p>
                </div>
            </div>
        </div>
        <div class="news_item swiper-slide"><span class="news_product_photo"> <img
                    src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/blog/images/0/3/03_4.jpg"
                    alt=""> </span>
            <div class="news_product_description_container">
                <h3><a href="https://blueskytechmage.com/drexel/en2/blog/post/blog9/">Fusce gravida maximus elit</a>
                </h3>
                <div class="data_container"><span class="data">16-May-2017</span></div>
                <div class="description">
                    <p>Donec faucibus enim vitae volutpat sollicitudin. Mauris gravida nulla turpis, sit amet feugiat
                        magna la</p>
                </div>
            </div>
        </div>
        <div class="news_item swiper-slide"><span class="news_product_photo"> <img
                    src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/blog/images/0/5/05_2.jpg"
                    alt="Integer urna nuncve hicula"> </span>
            <div class="news_product_description_container">
                <h3><a href="https://blueskytechmage.com/drexel/en2/blog/post/blog10/">Integer urna nuncve hicula</a>
                </h3>
                <div class="data_container"><span class="data">16-May-2017</span></div>
                <div class="description">
                    <p>Donec faucibus enim vitae volutpat sollicitudin. Mauris gravida nulla turpis, sit amet feugiat
                        magna la</p>
                </div>
            </div>
        </div>
        <div class="news_item swiper-slide"><span class="news_product_photo"> <img
                    src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/blog/images/0/4/04_2.jpg"
                    alt="Mauris gravida nulla turpis"> </span>
            <div class="news_product_description_container">
                <h3><a href="https://blueskytechmage.com/drexel/en2/blog/post/blog11/">Mauris gravida nulla turpis</a>
                </h3>
                <div class="data_container"><span class="data">16-May-2017</span></div>
                <div class="description">
                    <p>Donec faucibus enim vitae volutpat sollicitudin. Mauris gravida nulla turpis, sit amet feugiat
                        magna la</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--SHOP BY BRANDS-->

<div id="brandSlider" class="shop_by_brands swiper-container">
    <div class="brands-title">
        <p>Shop By Brands</p>
    </div>
    <div class="swiper-buttons">
        <div class="swiper-buttons-container">
            <div class="swiper-button-prev">
                <p>Prev</p>
            </div>
            <div class="swiper-button-next">
                <p>Next</p>
            </div>
        </div>
    </div>
    <div class="brands_container swiper-wrapper">
        <div class="brand_item swiper-slide">
            <div class="brand_image"><a href="https://blueskytechmage.com/drexel/en2/brand/knoll.html"> <img
                        src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/brand/brand1_bc12606a864d8675c6f925455b3c32eb.jpg"
                        alt="Knoll"> </a></div>
            <div class="brand_name"><a title="Knoll" href="https://blueskytechmage.com/drexel/en2/brand/knoll.html">Knoll</a>
            </div>
        </div>
        <div class="brand_item swiper-slide">
            <div class="brand_image"><a href="https://blueskytechmage.com/drexel/en2/brand/herman-miller.html"> <img
                        src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/brand/brand2_af4945628435df11a3de0686bd9c4157.jpg"
                        alt="Herman Miller"> </a></div>
            <div class="brand_name"><a title="Herman Miller"
                                       href="https://blueskytechmage.com/drexel/en2/brand/herman-miller.html">Herman
                    Miller</a></div>
        </div>
        <div class="brand_item swiper-slide">
            <div class="brand_image"><a href="https://blueskytechmage.com/drexel/en2/brand/stressless.html"> <img
                        src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/brand/brand3_5bba384c08d51704fbc44238fc1f075b.jpg"
                        alt="Stressless"> </a></div>
            <div class="brand_name"><a title="Stressless"
                                       href="https://blueskytechmage.com/drexel/en2/brand/stressless.html">Stressless</a>
            </div>
        </div>
        <div class="brand_item swiper-slide">
            <div class="brand_image"><a href="https://blueskytechmage.com/drexel/en2/brand/greenington.html"> <img
                        src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/brand/brand5_7015ca7a49836d2461f226edc65db20b.jpg"
                        alt="Greenington"> </a></div>
            <div class="brand_name"><a title="Greenington"
                                       href="https://blueskytechmage.com/drexel/en2/brand/greenington.html">Greenington</a>
            </div>
        </div>
        <div class="brand_item swiper-slide">
            <div class="brand_image"><a href="https://blueskytechmage.com/drexel/en2/brand/younger.html"> <img
                        src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/brand/brand5_7015ca7a49836d2461f226edc65db20b.jpg"
                        alt="Younger"> </a></div>
            <div class="brand_name"><a title="Younger" href="https://blueskytechmage.com/drexel/en2/brand/younger.html">Younger</a>
            </div>
        </div>
        <div class="brand_item swiper-slide">
            <div class="brand_image"><a href="https://blueskytechmage.com/drexel/en2/brand/innovation.html"> <img
                        src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/brand/brand6_54f5ad48f6c2071a4f8793628d354b5b.jpg"
                        alt="Innovation"> </a></div>
            <div class="brand_name"><a title="Innovation"
                                       href="https://blueskytechmage.com/drexel/en2/brand/innovation.html">Innovation</a>
            </div>
        </div>
        <div class="brand_item swiper-slide">
            <div class="brand_image"><a href="https://blueskytechmage.com/drexel/en2/brand/american-drew.html"> <img
                        src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/brand/brand554_4de3b39e3441597716a4aea7924babd3.jpg"
                        alt="American Drew"> </a></div>
            <div class="brand_name"><a title="American Drew"
                                       href="https://blueskytechmage.com/drexel/en2/brand/american-drew.html">American
                    Drew</a></div>
        </div>
        <div class="brand_item swiper-slide">
            <div class="brand_image"><a href="https://blueskytechmage.com/drexel/en2/brand/hammary.html"> <img
                        src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/brand/brand1_bc12606a864d8675c6f925455b3c32eb.jpg"
                        alt="Hammary"> </a></div>
            <div class="brand_name"><a title="Hammary" href="https://blueskytechmage.com/drexel/en2/brand/hammary.html">Hammary</a>
            </div>
        </div>
        <div class="brand_item swiper-slide">
            <div class="brand_image"><a href="https://blueskytechmage.com/drexel/en2/brand/lexington.html"> <img
                        src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/brand/brand2_af4945628435df11a3de0686bd9c4157.jpg"
                        alt="Lexington"> </a></div>
            <div class="brand_name"><a title="Lexington"
                                       href="https://blueskytechmage.com/drexel/en2/brand/lexington.html">Lexington</a>
            </div>
        </div>
        <div class="brand_item swiper-slide">
            <div class="brand_image"><a href="https://blueskytechmage.com/drexel/en2/brand/tommy-bahama-home.html"> <img
                        src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/brand/brand3_5bba384c08d51704fbc44238fc1f075b.jpg"
                        alt="Tommy Bahama Home"> </a></div>
            <div class="brand_name"><a title="Tommy Bahama Home"
                                       href="https://blueskytechmage.com/drexel/en2/brand/tommy-bahama-home.html">Tommy
                    Bahama Home</a></div>
        </div>
        <div class="brand_item swiper-slide">
            <div class="brand_image"><a href="https://blueskytechmage.com/drexel/en2/brand/copeland.html"> <img
                        src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/brand/brand1_bc12606a864d8675c6f925455b3c32eb.jpg"
                        alt="Copeland"> </a></div>
            <div class="brand_name"><a title="Copeland"
                                       href="https://blueskytechmage.com/drexel/en2/brand/copeland.html">Copeland</a>
            </div>
        </div>
        <div class="brand_item swiper-slide">
            <div class="brand_image"><a href="https://blueskytechmage.com/drexel/en2/brand/stanley.html"> <img
                        src="https://blueskytechmage.com/drexel/pub/media/rokanthemes/brand/brand6_54f5ad48f6c2071a4f8793628d354b5b.jpg"
                        alt="Stanley"> </a></div>
            <div class="brand_name"><a title="Stanley" href="https://blueskytechmage.com/drexel/en2/brand/stanley.html">Stanley</a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination swiper-pagination-white shop_pagination">&nbsp;</div>
</div>

<!--------------------------------------------------------------------------------------------------------->

<!--FOOTER-->

<!--FOOTER MENU-->

<div class="footer_navigation">
    <div class="footer_navigation_container">
        <div class="navigation-item">
            <h2>About</h2>
            <ul>
                <li><a href="#">News &amp; Stories</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Our Studio</a></li>
                <li><a href="#">Showrooms</a></li>
                <li><a href="#">Stockists</a></li>
            </ul>
        </div>
        <div class="navigation-item">
            <h2>Customer services</h2>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Trade Services</a></li>
                <li><a href="#">Login/Register</a></li>
                <li><a href="#">Delivery &amp; Returns</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
        </div>
        <div class="navigation-item">
            <h2>Furniture</h2>
            <ul>
                <li><a href="#">Tables</a></li>
                <li><a href="#">Chairs</a></li>
            </ul>
        </div>
        <div class="navigation-item">
            <h2>Accessories</h2>
            <ul>
                <li><a href="#">Candles &amp; Fragrance</a></li>
                <li><a href="#">Stationery</a></li>
                <li><a href="#">Kitchen &amp; Dining</a></li>
                <li><a href="#">Textiles</a></li>
                <li><a href="#">Gifl Sets</a></li>
            </ul>
        </div>
    </div>
</div>

<!--FOOTER ABOUT US-->

<div class="footer_about_us">
    <div class="footer_about_us_container">
        <div class="about_us_item">
            <ul>
                <li>
                    <a href="#">About Us</a></li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">FAQs</a>
                </li>
                <li>
                    <a href="#">Order Tracking</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="social_item">
            <div class="social_title">
                <p>Connect with us:</p>
            </div>
            <ul class="social_links">
                <li>
                    <a class="behance fa fa-behance" href="#"></a>
                </li>
                <li>
                    <a class="facebook fa fa-facebook" href="#"></a>
                </li>
                <li>
                    <a class="google fa fa-google" href="#"></a>
                </li>
                <li>
                    <a class="skype fa fa-skype " href="#"></a>
                </li>
                <li>
                    <a class="twitter fa fa-twitter" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------->

<!--HEADER-->

<div class="header_menu">
    <div class="header_menu_container">
        <div class="header_menu_item">
            <div class="header_icon">
                <em class="fa fa-eyedropper"></em>
            </div>
            <div class="media-body">
                <h6>Unlimited colors</h6>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="header_menu_item">
            <div class="header_icon">
                <em class="fa fa-gear"></em>
            </div>
            <div class="media-body">
                <h6>Powerful UI widgets</h6>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="header_menu_item">
            <div class="header_icon">
                <em class="fa fa-expand"></em>
            </div>
            <div class="media-body">
                <h6>Fully responsive layout</h6>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</div>

