<?php
/**
 * add left product slider to gallery pages
 */

/** @var \Magento\Framework\View\Element\Template $block */
?>
<div id="leftproductSlider" class="left-slider swiper-container">
    <div class="left-slider-container swiper-wrapper">
        <div class="left-slider-item swiper-slide">
            <div class="img_item">
                <img src="https://blueskytechmage.com/drexel/pub/media/slidebanner/l/e/left3.jpg" alt="Left Slider">
            </div>
        </div>
        <div class="left-slider-item swiper-slide">
            <div class="img_item">
                <img src="https://blueskytechmage.com/drexel/pub/media/slidebanner/l/e/left2.jpg" alt="Left Slider">
            </div>
        </div>
        <div class="left-slider-item swiper-slide">
            <div class="img_item">
                <img src="https://blueskytechmage.com/drexel/pub/media/slidebanner/l/e/left1.jpg" alt="Left Slider">
            </div>
        </div>
    </div>
    <div class="swiper-pagination swiper-pagination-white left-slider-pagination"></div>
</div>
